body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  height: 100%;
}

.tablde {
  border-bottom: 1px solid rgb(224, 224,224) !important;
}
table td ~ td, table th ~ th {
  border-left: 1px solid rgb(224, 224,224);
}

td {
  width: 150px;
  height: 150px;
}

.td-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
}